<footer class="footer c1-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <!-- About Widget -->
                <div class="widget widget_about">
                    <!-- Widget Logo -->
                    <div class="widget-logo">
                        <img src="assets/img/logo_white.png" data-rjs="2" alt="">
                    </div>
                    <!-- End Widget Logo -->

                    <!-- About Text -->
                    <div class="about-text">
                        <p>عملکرد فعلی فوتبال هوشمند فوتبال وسایل نقلیه بالینی. حق مراقبت های بهداشتی رایگان یا
                            مالسوادای خارج از منزل ممکن است باشد. و بزرگترین لورم رله. حق مراقبت های بهداشتی رایگان یا
                            مالسوادای خارج از منزل ممکن است باشد.</p>
                    </div>
                    <!-- End About Text -->
                </div>
                <!-- End About Widget -->

                <!-- Widget Social Icon -->
                <div class="widget widget_social_icon">
                    <!-- Social Icons -->
                    <!-- Social Icons -->
                    <ul class="social_icon_list">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- End Social Icons -->
                    <!-- End Social Icons -->
                </div>
                <!-- End Widget Social Icon -->
            </div>

            <div class="col-lg-4 col-sm-6">
                <!-- Widget Newslatter -->
                <div class="widget widget_newsletter">
                    <!-- Widget Title  -->
                    <div class="widget-title">
                        <h3>مشترک ما شوید</h3>

                        <div class="title-border">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- Widget Title End  -->

                    <!-- Newslatter Content -->
                    <div class="newsletter-content">
                        <p>عملکرد فعلی فوتبال هوشمند فوتبال وسایل نقلیه بالینی. حق مراقبت های بهداشتی رایگان یا
                            مالسوادای خارج از منزل ممکن است باشد. و بزرگترین لورم رله.</p>

                        <form
                            action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d"
                            method="post" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-form">
                            <div class="theme-input-group">
                                <input type="text" placeholder="ایمیل شما">
                                <button type="submit">ارسال</button>
                            </div>
                        </form>
                    </div>
                    <!-- End Newslatter Content -->
                </div>
                <!-- End Widget Newslatter -->
            </div>

            <div class="col-lg-4">
                <!-- Widget Contact -->
                <div class="widget widget_contact">
                    <!-- Widget Title  -->
                    <div class="widget-title">
                        <h3>در تماس باشید</h3>

                        <div class="title-border">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <!-- Widget Title End  -->

                    <!-- Contact Content -->
                    <div class="contact-content">
                        <p>پشتیبانی ما برای کمک به شما در 24 ساعت شبانه روز و 7 روز هفته در دسترس است.</p>

                        <ul class="list-unstyled">
                            <li><i class="fa fa-map-marker"></i> خیابان طالقانی ، کوچه 351 ، پلاک 6 واحد 10306</li>
                            <li style="direction: ltr;"><i class="fa fa-phone"></i> <a href="callto:+10345455657">+353
                                    4545 5657</a> , <a href="callto:+10345455657">+353 4545 5657</a></li>
                            <li><i class="fa fa-envelope"></i><a
                                    href="mailto:admin@themelooks.com">admin@themelooks.com</a></li>
                        </ul>
                    </div>
                    <!-- End Contact Content -->
                </div>
                <!-- End Widget Contact -->
            </div>
        </div>
    </div>
</footer>