<header class="header">
    <div class="header-main">
        <div class="container-fluid">
            <div class="row align-items-center main-menu-wrapper justify-content-between">
                <div class="col order-last order-sm-first">
                    <!-- Header Menu -->
                    <div class="main-menu d-flex align-items-center justify-content-end justify-content-sm-start">
                        <!-- Menu Trigger -->
                        <div class="menu-trigger">
                            <span></span>
                        </div>
                        <!-- End Menu Trigger -->

                        <!-- Main Menu -->
                        <div class="nav-wrapper">
                            <ul class="nav align-items-center">
                                <li>
                                    <a href="/">صفحه اصلی</a>
                                </li>
                                <li>
                                    <a href="/about">درباره ما</a>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="/service">خدمات </a>
                                    <!-- <ul class="sub-menu">
                                        <li><a href="service.html">خدمات </a></li>
                                        <li><a href="service-details.html">جزئیات خدمات </a></li>
                                    </ul> -->
                                </li>
                                <!-- <li class="menu-item-has-children">
                                    <a href="#">صفحات </a>
                                    <ul class="sub-menu">
                                        <li><a href="coming-soon.html">به زودی </a></li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li> -->
                                <li class="menu-item-has-children">
                                    <a href="/blog">وبلاگ </a>
                                    <!-- <ul class="sub-menu">
                                        <li><a href="blog.html">وبلاگ </a></li>
                                        <li><a href="blog-with-sidebar.html">وبلاگ با نوار کناری </a></li>
                                        <li class="current-menu-item"><a href="blog-details.html">جزئیات وبلاگ </a></li>
                                    </ul> -->
                                </li>
                                <li><a href="/contact">تماس بگیرید </a></li> 
                            </ul>
                        </div>

                        <!-- End Main Menu -->
                    </div>
                    <!-- End Header Menu -->
                </div>

                <div class="col text-sm-center logo-holder">
                    <!-- Logo -->
                    
                    <!-- End Logo -->
                </div>

                <div class="col text-left d-none d-sm-block">
                    <!-- Social Icons -->
                    <ul class="social_icon_list">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul> 
                </div>
            </div>
        </div>
    </div>
</header>