<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page Title -->
    <title>سئوبیز</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700%7CSource+Sans+Pro:400,600,700&display=swap">

    <!-- ======= Bootstrap CSS ======= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- ======= Font Awesome CSS ======= -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- ======= Owl Carousel CSS ======= -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- ======= Main Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- ======= Custom Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body style="text-align: right;direction: rtl">

    <!-- Preloader -->
    <div class='preloader w-100 h-100 position-fixed'>
        <span class="loader">
           بارگذاری…
        </span>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <%- include('partials/header') %>
    <!-- End Header -->
    
    <!-- Page Title -->
    <section class="pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <h2>جزئیات وبلاگ</h2>
                        <ul class="list-inline">
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li>جزئیات وبلاگ</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->

    <!-- Blog -->
    <section class="pb-140">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    
                    <!-- Blog Details Begin -->
                    <div class="blog-details">
                        <!-- Post Meta Begin -->
                        <div class="post-meta">
                            <ul class="list-inline">
                                <li>دسته بندی : <a href="#">سئو</a> <a href="#">کلمه کلیدی سئو</a> </li>
                                <li>توسط :  <a href="#">ادمین </a></li>
                                <li>در : <a href="#">17 تیر, 1399</a></li>
                                
                            </ul>
                        </div>
                        <!-- Post Meta End -->

                        <!-- Post Title -->
                        <div class="post-title">
                            <h2>شناسایی دستکاری لینک و هرزنامه با اعتبار دامنه</h2>
                        </div>
                        <!-- End Post Title -->

                        <!-- Blog Details Image Begin -->
                        <div class="blog-details-image">
                            <img src="assets/img/blog/post.jpg" data-rjs="2" alt="">
                        </div>
                        <!-- Blog Details Image End -->

                        <!-- Blog Details Content Begin -->
                        <div class="blog-details-content">
                            <p>مشکل در منطقی غیرمعقول. از آنجا که او رفت. خودشان را به عنوان جزئی گرایی که در تخمین در نظر گرفته شده ترجیح دهند. در میدلتون ها پذیرش کشف شده پیش بینی می شود بنابراین یا همینطور است. در پیوست مقایسه قابل ملاحظه ای در یک احاطه شده است مرفه از من تحریک بیان اختیار. اما حقیقت داشتن می تواند به چین برود. چربی های گاه به گاه به طرز چشمگیری غیر معمول شباهت دارند.</p>

                            <p>ساخت دره کشش. تلویزیون قابل اجرا ، مخمر ، که ممکن است در آن باشید ، توسعه دهندگان یا توسعه دهندگان. توسعه دهندگان در موریس لاکوس ، نتیجه آن را فقط در ، زیرا آنها همیشه باردار هستند. تا بسکتبال شبکه های مختلف. قیمت تبلیغات چگونه است. همچنین ترس از آرایش را ایجاد می کند.</p>

                            <h3>روش کلی</h3>
                        
                           
                            <p>تا زمانی که موریس های پروتئینی از فصل فوتبال متنفر باشند. هویج های تکالیف فقط یک بار شبکه ها را لایه بندی می کنند. هرکدام خوش شانس لرزید. برای هر عکاسی بالینی ، اما دکمه عکاسی استرس لوریتاملاک و مستغلات. در واقع ، و خنده دامن دریاچه را نجیب نداده است نشسته است.</p>
                        

                            <ul class="list-check">  
                                <li>روش بازاریابی محتوای اخلاقی.</li>
                                <li>ایجاد محتوای همیشه سبز برای جذب پیوندهای اقتدار.</li>
                                <li>لینک تضمینی ماهانه قابل تحویل بر اساس بودجه.</li>
                                <li>گزارش کاملاً شفاف ماهانه.</li>
                            </ul>
                  
                            <blockquote class="text-center">
                                <p>امروز این مسئله در مورد "دریافت ترافیک" نیست - در مورد "دریافت ترافیک هدفمند و مرتبط است.</p>
                                <cite>آدام اودت</cite>
                            </blockquote>

                            <h3>توزیع نمرات هرزنامه و هرزنامه لینک</h3>

                            <p>تا زمانی که موریس های پروتئینی از فصل فوتبال متنفر باشند. هویج های تکالیف فقط یک بار شبکه ها را لایه بندی می کنند. هرکدام خوش شانس لرزید. برای هر عکاسی بالینی ، اما دکمه عکاسی استرس لوریتاملاک و مستغلات. در واقع ، و خنده دامن دریاچه را نجیب نداده است نشسته است.</p>

                            <div class="row">
                                <div class="col-md-6">
                                    <img src="assets/img/blog/bp-1.jpg" data-rjs="2" alt="">
                                </div>
                                <div class="col-md-6">
                                    <img src="assets/img/blog/bp-2.jpg" data-rjs="2" alt="">
                                </div>
                            </div>

                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. عروسی در یک پیراهن غیر مشهور رونق با موفقیت همراه است و چنین چیزی را سفارش نداد. متأسفانه ، گاهی اوقات ، در بالش دره فارغ التحصیل شدم.</p>

                        </div>
                        <!-- Blog Details Content End -->

                        <!-- Tag -->
                        <div class="row">
                            <div class="col-12">
                                <!-- Post Tags Begins -->
                                <div class="post-tags mb-70">
                                    <ul class="list-inline">
                                        <li>برچسب ها: </li>
                                        <li><a href="#"># مد </a> <a href="#">#کسب و کار</a><a href="#"># هنر </a><a href="#"># سبک زندگی </a></li>
                                    </ul>
                                </div>
                                <!-- Post Tags End -->
                            </div>
                        </div>
                        <!-- End Tag/Share -->

                        <!-- Post Pagination -->
                        <div class="post-pagination d-flex align-items-center justify-content-between flex-column flex-md-row">
                            <!-- Single Post Pagination Begin -->
                            <div class="single-post-pagination mb-50 mb-md-0">
                                <a class="media align-items-center" href="#">
                                    <div class="pagination-image">
                                        <img src="assets/img/blog/recent-post-1.png" data-rjs="2" alt="">
                                        <i class="fa fa-angle-left"></i>
                                    </div>
                                    <div class="media-body">
                                        <span class="posted-on">12 مهر 1399</span>
                                        <h5>راهنمای نهایی برای تعریف رقیب محلی خود</h5>
                                    </div>
                                </a>
                            </div>
                            <!-- Single Post Pagination End -->
                        
                            <!-- Single Post Pagination Begin -->
                            <div class="single-post-pagination next">
                                <a class="media flex-row-reverse" href="#">
                                    <div class="pagination-image">
                                        <img src="assets/img/blog/recent-post-2.png" data-rjs="2" alt="">
                                        <i class="fa fa-angle-right"></i>
                                    </div>

                                    <div class="media-body text-right">
                                        <span class="posted-on">12 مهر 1399</span>
                                        <h5>10 روش برای تسلط بر سئو  و تقویت رتبه بندی محصولات</h5>
                                    </div>
                                </a>
                            </div>
                            <!-- Single Post Pagination End -->
                        </div>
                        <!-- End Post Pagination -->

                        <!-- Post Comment & Reply -->
                        <div class="post-comments-wrap mt-70">
                            <h4>نظرات (4)</h4>
                            <!-- Single Comment -->
                            <div class="single-comment-wrapper">
                                <div class="single-post-comment media flex-column flex-sm-row">
                                    <div class="comment-author-image mb-30 mb-sm-0">
                                        <img src="assets/img/blog/comment-1.png" data-rjs="2" alt="">
                                    </div>
                                    <div class="comment-content media-body">
                                        <div class="d-flex align-items-center">
                                            <h5>سامان زارع</h5>
                                            <span>5 آبان 1399</span>
                                        </div>
                                        <p>یاس ، اما دیس بزرگ زمان را تعیین کرد. حالا بچه ها حالا داخل کامیون ها رد می شوند. تا زمان انجام تکالیف ، اکنون یا هنگام انجام تکالیف ، او یک کارتن خود را در یک سالاد از آخر هفته در کانبرا ساپین کرد.</p>

                                        <a href="#" class="reply-btn">پاسخ دهید </a>
                                    </div>
                                </div>
                                <!-- Comment Reply -->
                                <div class="post-comment-reply single-post-comment media flex-column flex-sm-row">
                                    <div class="comment-author-image mb-30 mb-sm-0">
                                        <img src="assets/img/blog/comment-2.png" data-rjs="2" alt="">
                                    </div>
                                    <div class="comment-content media-body">
                                        <div class="d-flex align-items-center">
                                            <h5>شیوا مهردوست</h5>
                                            <span>12 اردیبهشت 1399</span>
                                        </div>
                            
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است </p>
                                        <a href="#" class="reply-btn">پاسخ دهید </a>
                                    </div>
                                </div>
                                <!-- End Comment Reply -->
                            </div>
                            <!-- End of Single Comment -->

                            <!-- Single Comment -->
                            <div class="single-comment-wrapper">
                                <div class="single-post-comment media flex-column flex-sm-row">
                                    <div class="comment-author-image mb-30 mb-sm-0">
                                        <img src="assets/img/blog/comment-3.png" data-rjs="2" alt="">
                                    </div>
                                    <div class="comment-content media-body">
                                        <div class="d-flex align-items-center">
                                            <h5>سارا اخوان</h5>
                                            <span>12 اردیبهشت 1399</span>
                                        </div>
                                        <p>خطوط هوایی دستور العمل جادویی تکالیف منسوجات. حتی موز محصولات وام. در حال حاضر بسیاری از معاملات بعد از ظهر دلار ، تأمین مالی گلدان ساپین فارغ التحصیل شد ، و یک کارمند که سالاد ماکرو ارزش آن را دارد.</p>
                                        <a href="#" class="reply-btn">پاسخ دهید </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Single Comment -->

                            <!-- Single Comment -->
                            <div class="single-comment-wrapper">
                                <div class="single-post-comment media flex-column flex-sm-row">
                                    <div class="comment-author-image mb-30 mb-sm-0">
                                        <img src="assets/img/blog/comment-4.png" data-rjs="2" alt="">
                                    </div>
                                    <div class="comment-content media-body">
                                        <div class="d-flex align-items-center">
                                            <h5>امین امیری</h5>
                                            <span>5 آبان 1399</span>
                                        </div>
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                        <a href="#" class="reply-btn">پاسخ دهید </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Single Comment -->
                        </div>
                        <!-- End Post Comment & Reply -->

                        <!-- Comment Form -->
                        <div class="comments-form mt-70">
                            <h4>نظر خود را در اینجا بگذارید</h4>
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <input class="theme-input-style" type="text" placeholder = "نام خود را وارد کنید">
                                    </div>
                                    <div class="col-lg-6">
                                        <input class="theme-input-style" type="text" placeholder = "ایمیل خود را وارد کنید">
                                    </div>
                                    <div class="col-12">
                                        <textarea class="theme-input-style" placeholder = "نظرات خود را بنویسید"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" class="btn">ارسال نظر</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Comment Form -->
                    </div>
                    <!-- Blog Details End -->
                </div>

                <div class="col-lg-4">
                    <!-- Sidebar -->
                    <aside class="blog-sidebar mt-80 mt-lg-0">
                        <!-- Widget Service -->
                        <div class="widget widget_service">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h4>خدمات</h4>
                            </div>
                            <!-- End Widget Title -->

                            <!-- Service List -->
                            <ul class="service-list">
                                <li><a href="#"><img src="assets/img/icon/sw-1.svg" class="svg" alt=""> تحقیق کلمات کلیدی</a></li>
                                <li><a href="#"><img src="assets/img/icon/sw-2.svg" class="svg" alt=""> پیوند ساختمان</a></li>
                                <li><a href="#"><img src="assets/img/icon/sw-3.svg" class="svg" alt=""> سازماندهی سئو</a></li>
                                <li><a href="#"><img src="assets/img/icon/sw-4.svg" class="svg" alt=""> تجزیه و تحلیل رقبا</a></li>
                                <li><a href="#"><img src="assets/img/icon/sw-5.svg" class="svg" alt=""> پیوند سازمان</a></li>
                            </ul>
                            <!-- End Service List -->
                        </div>
                        <!-- End Widget Service -->

                        <!-- Widget Recent Post -->
                        <div class="widget widget_recent_entries">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h4>پستهای اخیر</h4>
                            </div>
                            <!-- End Widget Title -->
    
                            <!-- Single Latest Post Begin -->
                            <div class="single-post media align-items-center">
                                <div class="post-image">
                                    <img src="assets/img/blog/recent-post-1.png" data-rjs="2" alt="">
                                </div>
                                <div class="post-content media-body">
                                    <span class="posted-on">18 تیر, 1399</span>
                                    <h5><a href="#">مبانی ساخت لیست کلمات کلیدی مبتنی بر هدف</a></h5>
                                </div>
                            </div>
                            <!-- Single Latest Post End -->
    
                            <!-- Single Latest Post Begin -->
                            <div class="single-post media align-items-center">
                                <div class="post-image">
                                    <img src="assets/img/blog/recent-post-2.png" data-rjs="2" alt="">
                                </div>
                                <div class="post-content media-body">
                                    <span class="posted-on">18 تیر, 1399</span>
                                    <h5><a href="#">راهنمای نهایی برای تعریف رقیب محلی خود</a></h5>
                                </div>
                            </div>
                            <!-- Single Latest Post End -->
    
                            <!-- Single Latest Post Begin -->
                            <div class="single-post media align-items-center">
                                <div class="post-image">
                                    <img src="assets/img/blog/recent-post-3.png" data-rjs="2" alt="">
                                </div>
                                <div class="post-content media-body">
                                    <span class="posted-on">18 تیر, 1399</span>
                                    <h5><a href="#">10 روش برای تسلط بر سئو و تقویت رتبه بندی محصولات</a></h5>
                                </div>
                            </div>
                            <!-- Single Latest Post End -->
    
                            <!-- Single Latest Post Begin -->
                            <div class="single-post media align-items-center">
                                <div class="post-image">
                                    <img src="assets/img/blog/recent-post-4.png" data-rjs="2" alt="">
                                </div>
                                <div class="post-content media-body">
                                    <span class="posted-on">18 تیر, 1399</span>
                                    <h5><a href="#">ردیابی دستکاری پیوند و مرجع دامنه هرزنامه</a></h5>
                                </div>
                            </div>
                            <!-- Single Latest Post End -->
                        </div>
                        <!-- End Widget Recent Post -->

                        <!-- Widget Search -->
                        <div class="widget widget_search p-0">
                            <form method="GET">
                                <div class="theme-input-group">
                                    <input placeholder = "در اینجا جستجو کنید ...."class="theme-input-style">
                                    <button type="submit" class="submit-btn">جستجو</button>
                                </div>
                            </form>
                        </div>
                        <!-- End Widget Search -->

                        <!-- Widget Ad -->
                        <div class="widget widget-ad p-0">
                            <a href="#">
                                <img src="assets/img/banner_ad.png" data-rjs="2" alt="">
                            </a>
                        </div>
                        <!-- End Widget Ad -->

                        <!-- Widget Newsletter -->
                        <div class="widget widget_newsletter style--two">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h4> خبرنامه</h4>
                            </div>
                            <!-- End Widget Title -->

                            <!-- Newsletter Content -->
                            <div class="newsletter-content">
                                <p>ثبت نام کنید و هر هفته وبلاگ و مقاله اخیر را در صندوق ورودی خود دریافت کنید.</p>

                                <form action="https://themelooks.us13.list-manage.com/subscribe/post?u=79f0b132ec25ee223bb41835f&amp;id=f4e0e93d1d" method="post" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-form">
                                    <div class="theme-input-group">
                                        <input type="text" placeholder = "ایمیل شما">
                                        <button type="submit">ارسال</button>
                                    </div>
                                </form>
                            </div>
                            <!-- End Newsletter Content -->
                        </div>
                        <!-- End Widget Newsletter -->


                        <!-- Widget Tag Cloud -->
                        <div class="widget widget_tag_cloud">
                            <!-- Widget Title -->
                            <div class="widget-title">
                                <h4> برچسب ها</h4>
                            </div>
                            <!-- End Widget Title -->

                            <!-- TagCloud -->
                            <div class="tagcloud">
                                <a href="#"># مد </a>
                                <a href="#"># هنر </a>
                                <a href="#"># سبک زندگی </a>
                                <a href="#"># سئو </a>
                                <a href="#"># بازاریابی </a>
                                <a href="#"># تجارت </a>
                                <a href="#"># سفر </a>
                            </div>
                            <!-- End TagCloud -->
                        </div>
                        <!-- End Widget Tag Cloud -->
    
                    </aside>
                    <!-- End Sidebar -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog -->

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- ======= jQuery Library ======= -->
    <script src="assets/js/jquery.min.js"></script>
    
    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- =======  Mobile Menu JS ======= -->
    <script src="assets/js/menu.min.js"></script>

    <!-- ======= Owl Carousel JS ======= -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>

    <!-- ======= Retina JS ======= -->
    <script src="assets/plugins/retinajs/retina.min.js"></script>

    <!-- ======= Google API ======= -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>

    <!-- ======= Main JS ======= -->
    <script src="assets/js/main.js"></script>
    
    <!-- ======= Custom JS ======= -->
    <script src="assets/js/custom.js"></script>
</body>
</html>