<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page Title -->
    <title>سئوبیز</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700%7CSource+Sans+Pro:400,600,700&display=swap">

    <!-- ======= Bootstrap CSS ======= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- ======= Font Awesome CSS ======= -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- ======= Owl Carousel CSS ======= -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- ======= Main Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- ======= Custom Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body style="text-align: right;direction: rtl">

    <!-- Preloader -->
    <div class='preloader w-100 h-100 position-fixed'>
        <span class="loader">
           بارگذاری…
        </span>
    </div>
    <!-- End Preloader -->        

    <!-- Header -->
    <%- include('partials/header') %>
    <!-- End Header -->
    
    <!-- Banner -->
    <div class="banner" data-bg-img="assets/img/banner/banner-bg.png">
        <div class="banner_slider">
            <!-- Single Slider -->
            <div class="single_slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- Slider Content -->
                            <div class="banner_content text-center">
                                <h1>برنده جستجو ، برنده دیجیتال</h1>
                                <p>تا زمانی که موریس های پروتئینی از فصل فوتبال متنفر باشند. هویج های تکالیف فقط یک بار شبکه ها را لایه بندی می کنند. هرکدام خوش شانس لرزید. برای هر عکاسی بالینی ، اما دکمه عکاسی.</p>

                                <a href="#" class="btn">صوتی رایگان</a>
                            </div>
                            <!-- End Slider Content -->
                        </div>
                    </div>

                    <!-- Banner Images -->
                    <div class="banner-images row justify-content-between align-items-end">
                        <!-- Single Banner Image -->
                        <div class="single-banner-image text-center col-sm-6 d-none d-sm-block">
                            <div class="search-icon-box position-absolute">
                                <img src="assets/img/banner/search-icon.png" alt="">
                            </div>
                            
                            <img src="assets/img/banner/banner-image-1.png" alt="">
                        </div>
                        <!-- End Single Banner Image -->

                        <!-- Single Banner Image -->
                        <div class="single-banner-image text-center col-sm-6">
                            <img src="assets/img/banner/icon-1.png" alt="" class="banner-icon icon-1 fa-spin">
                            <img src="assets/img/banner/icon-2.png" alt="" class="banner-icon icon-2 fa-spin">
                            <img src="assets/img/banner/icon-3.png" alt="" class="banner-icon icon-3 fa-spin">
                            <img src="assets/img/banner/banner-image-2.png" alt="">
                        </div>
                        <!-- End Single Banner Image -->
                    </div>
                    <!-- End Banner Images -->
                </div>
            </div>
            <!-- End Single Slider -->
        </div>
    </div>
    <!-- End Banner -->

    <!-- Services -->
    <section class="pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>با خدمات حرفه ای سئو ، بازدید وب سایت بیشتری داشته  <br>
                        و مشتریان جدیدی به دست آورید</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-1.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">سازماندهی سئو</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ  اکنون بزرگترین توسعه دهندگان املاک و مستغلات در تلویزیون حضور دارند.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-2.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">پیوند ساختمان</a></h3>
                            <p>از این رو ، از همان چیزهای بزرگ ، پیراهن گرمکن در استخر ،اما توسعه دهندگان در دوره کارشناسی ،. تا شناسه.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-3.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">تجزیه و تحلیل رقبا</a></h3>
                            <p>فردا مسابقه فوتبال عطر و بویی مانند املاک و مستغلات ، بازیکنان توسعه دهندگان خدمه وام دهید. هیچ لرزان توسعه دهنده شیر فقط نمی نوشد.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="text-center mt-20">
                        <a href="#" class="btn-inline service-btn">همه خدمات سئو ما را مشاهده کنید</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services -->

    <!-- Feature -->
    <section class="pb-140">
        <div class="container">
            <div class="row justify-content-between align-items-center pb-140">
                <div class="col-lg-5">
                    <!-- Feature Image -->
                    <div class="mb-50 mb-lg-0">
                        <img src="assets/img/feature/feature-1.png" alt="">
                    </div>
                    <!-- End Feature Image -->
                </div>
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="section-title style--two">
                        <div class="title-border">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2>بهینه سازی برتر صفحه</h2>
                        <p>چشمهایت را دیده ام پسر نشان می دهد. تا کنون دو آپارتمان بدون تغییر تحت تأثیر یک جشن تغییر یافتند اما علاقه مندان به شهرهای متوسط ​​بودند. تشویق کمبود توصیف شده من بود. اثر ادوارد دو استعداد گذشت.</p>
                    </div>
                    <!-- End Section Title -->

                    <!-- List Check -->
                    <ul class="list-check">
                        <li>شما می خواهید برای سایت خود رتبه بالاتری کسب کنید</li>
                        <li>برای سایت خود بازدید بیشتری داشته باشید</li>
                        <li>شما به دنبال رتبه های بهتر با گذشت زمان هستید</li>
                    </ul>
                    <!-- End List Check -->
                </div>
            </div>

            <div class="row pb-140">
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="section-title style--two">
                        <div class="title-border">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2>رتبه بالا در گوگل <br>
                        و صفحات خارج از آن</h2>
                        <p><b>خودتان به فکر صاحبخانه ظریف نیست. داشوود شاخه ای هر کاری که باشد انجام می دهد.</b></p>
                        <p>شما دو شجاع شش نفر را شاد کردید که به اعتراض اعتراض داشتند. غیر ممکن است جزئیات اعزامی بی پیرایه.  خانمها صحبت کردند ممکن است خجالتی سبد باریک را ببینید. او به ورزشکاران بی اعتماد است.</p>
                    </div>
                    <!-- End Section Title -->
                
                    <a href="#" class="btn-inline mt-10">بیشتر بخوانید </a>
                </div>
                <div class="col-lg-6 order-first order-lg-last">
                    <!-- Feature Image -->
                    <div class="mb-50 mb-lg-0">
                        <img src="assets/img/feature/feature-2.png" alt="">
                    </div>
                    <!-- End Feature Image -->
                </div>
            </div>

            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5">
                    <!-- Feature Image -->
                    <div class="mb-50 mb-lg-0">
                        <img src="assets/img/feature/feature-3.png" alt="">
                    </div>
                    <!-- End Feature Image -->
                </div>
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="section-title style--two">
                        <div class="title-border">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h2>کلاه سفید با کیفیت پیوند ساختمان</h2>
                        <p>تصور کنید که در حال برداشتن نیروی جاذبه هستید؟ قابل فهم یا بیان غیرقابل اشباع غیر مشابه بسیار کافی است.</p>
                    </div>
                    <!-- End Section Title -->
            
                    <!-- List Check -->
                    <ul class="list-check">
                        <li>کلیک از طریق ترافیک از طریق اجتماعی عامل رتبه بندی آینده و آینده است و از این رو به رتبه بندی بلند مدت کمک می کند.</li>
                        <li>اثبات اجتماعی که می توانیم در لیست های رسانه ای و غیر رسانه ای برای افزایش تبدیل ها استفاده کنیم (در زیر).</li>
                    </ul>
                    <!-- End List Check -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature -->

    <!-- Pricing -->
    <section class="pt-140 pb-110 light-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>برنامه مقرون به صرفه خود را انتخاب کنید</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Pricing Plan -->
                    <div class="single-pricing-table text-center">
                        <div class="pt-header">
                            <div class="icon">
                                <img src="assets/img/icon/basic.png" alt="">
                            </div>
                            <h2 class="title">اصلی</h2>
                        </div>
                        <div class="pt-body">
                            <ul class="list-unstyled">
                                <li>بهینه سازی جستجوی محلی</li>
                                <li>120000 صفحه خزیده</li>
                                <li>راه اندازی تجزیه و تحلیل گوگل</li>
                                <li>30 تجزیه و تحلیل کمپین</li>
                                <li>تحلیل محتوا</li>
                            </ul>
                        </div>

                        <div class="pt-footer">
                            <h2 class="price">120.000 تومان</h2>
                            <a href="#" class="btn">اکنون بخرید </a>
                        </div>
                    </div>
                    <!-- End Single Pricing Plan -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Pricing Plan -->
                    <div class="single-pricing-table text-center active">
                        <div class="pt-header">
                            <div class="icon">
                                <img src="assets/img/icon/advanced.png" alt="">
                            </div>
                            <h2 class="title">پیشرفته</h2>
                        </div>
                        <div class="pt-body">
                            <ul class="list-unstyled">
                                <li>بهینه سازی جستجوی محلی</li>
                                <li>120000 صفحه خزیده</li>
                                <li>راه اندازی تجزیه و تحلیل گوگل</li>
                                <li>30 تجزیه و تحلیل کمپین</li>
                                <li>تحلیل محتوا</li>
                            </ul>
                        </div>

                        <div class="pt-footer">
                            <h2 class="price">200.000 تومان</h2>
                            <a href="#" class="btn">اکنون بخرید </a>
                        </div>
                    </div>
                    <!-- End Single Pricing Plan -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Pricing Plan -->
                    <div class="single-pricing-table text-center">
                        <div class="pt-header">
                            <div class="icon">
                                <img src="assets/img/icon/pro.png" alt="">
                            </div>
                            <h2 class="title">بهینه</h2>
                        </div>
                        <div class="pt-body">
                            <ul class="list-unstyled">
                                <li>بهینه سازی جستجوی محلی</li>
                                <li>120000 صفحه خزیده</li>
                                <li>راه اندازی تجزیه و تحلیل گوگل</li>
                                <li>30 تجزیه و تحلیل کمپین</li>
                                <li>تحلیل محتوا</li>
                            </ul>
                        </div>

                        <div class="pt-footer">
                            <h2 class="price">300.000 تومان</h2>
                            <a href="#" class="btn">اکنون بخرید </a>
                        </div>
                    </div>
                    <!-- End Single Pricing Plan -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing -->

    <!-- Testimonial -->
    <section class="pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>صدها شرکت از طریق خدمات ما رفته اند <br>
                        در اینجا برخی از بازخورد آنها وجود دارد..</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Testimonial -->
                    <div  class="testimonial-slider owl-carousel" data-owl-animate-in="slideInDown" data-owl-animate-out="slideOutUp" data-owl-nav="false" data-owl-dots="true" data-owl-mouse-drag="false" data-owl-autoplay="false">
                        <!-- Single Testimonial -->
                        <div style="direction: rtl" class="single-testimonial text-center">
                            <div class="single-testimonial-inner">

                                <div  class="content">
                                    <p >جهت انجام کامل استفاده مداوم او ادامه داد. دیدم که مورد علاقه اش مورد تعارف قرار گرفت و او را پنهان کرد. پسر منعقد شده پیر همیشگی فرض بستر و معبر دورتر.</p>

                                    <p class="author"><b> خسرو خسروی </b> <span>- مدیر عامل در شرکت ما</span></p>
                                </div>
                                <div class="image">
                                    <img src="assets/img/author/author-1.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->

                        <!-- Single Testimonial -->
                        <div  class="single-testimonial text-center">
                            <div class="single-testimonial-inner">
                                <div class="content">
                                    <p>جهت انجام کامل استفاده مداوم او ادامه داد. دیدم که مورد علاقه اش مورد تعارف قرار گرفت و او را پنهان کرد. پسر منعقد شده پیر همیشگی فرض بستر و معبر دورتر.</p>

                                    <p class="author"><b>محمد محمدزاده</b> <span>- مسئول بخش جوایز</span></p>
                                </div>
                                <div class="image">
                                    <img src="assets/img/author/author-2.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->

                        <!-- Single Testimonial -->
                        <div  class="single-testimonial text-center">
                            <div class="single-testimonial-inner">

                                <div class="content">
                                    <p>جهت انجام کامل استفاده مداوم او ادامه داد. دیدم که مورد علاقه اش مورد تعارف قرار گرفت و او را پنهان کرد. پسر منعقد شده پیر همیشگی فرض بستر و معبر دورتر.</p>

                                    <p class="author"><b>علی علیزاده</b><span>- مدیر داخلی در شرکت </span></p>
                                </div>
                                <div class="image">
                                    <img src="assets/img/author/author-3.jpg" data-rjs="2" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- End Single Testimonial -->
                    </div>
                    <!-- End Testimonial -->
                </div>
            </div>

            <div class="row pt-140">
                <div class="col-12">
                    <!-- Brand Subtitle -->
                    <div class="brand-subtitle text-center">
                        <h3>ما با افتخار کار کردیم</h3>
                    </div>
                    <!-- End Brand Subtitle -->
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- Partners -->
                    <div  class="brand-logo owl-carousel" data-owl-items="6" data-owl-autoplay="false"
                        data-owl-responsive='{"0": {"items": "2"},"575":{"items": "3"},"768": {"items": "4"},"992": {"items": "6"}}'>
                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="assets/img/brand/brand-1.png" data-rjs="2" alt="">
                            <img src="assets/img/brand/brand-1.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->
                    
                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="assets/img/brand/brand-2.png" data-rjs="2" alt="">
                            <img src="assets/img/brand/brand-2.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->
                    
                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="assets/img/brand/brand-3.png" data-rjs="2" alt="">
                            <img src="assets/img/brand/brand-3.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->
                    
                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="assets/img/brand/brand-4.png" data-rjs="2" alt="">
                            <img src="assets/img/brand/brand-4.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->
                    
                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="assets/img/brand/brand-5.png" data-rjs="2" alt="">
                            <img src="assets/img/brand/brand-5.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->
                    
                        <!-- Single Partner -->
                        <a href="#" class="single-brand-logo">
                            <img src="assets/img/brand/brand-6.png" data-rjs="2" alt="">
                            <img src="assets/img/brand/brand-6.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Single Partner -->
                    
                    </div>
                    <!-- End of Partners -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial -->

    <!-- Blog -->
    <section class="pt-140 pb-90 light-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>ما آخرین اخبار فوق العاده را برای کمک به شما<br> در نگه داشتن به روزرسانی جدید ایجاد کرده ایم </h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6">
                    <!-- Single Blog -->
                    <div class="single-blog-item">
                        <!-- Blog Image -->
                        <div class="blog-image">
                           <a href="#"><img src="assets/img/blog/blog-1.png" alt=""></a> 
                        </div>
                        <!-- End Blog Image -->

                        <div class="blog-content">
                            <a href="#" class="posted">12 اردیبهشت 1399</a>

                            <h3><a href="#">زمینه کانال سئو : تجزیه و تحلیل فرصت های رشد</a></h3>

                            <a href="#" class="btn-inline">بیشتر بخوانید </a>
                        </div>
                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Single Blog -->
                    <div class="single-blog-item">
                        <!-- Blog Image -->
                        <div class="blog-image">
                           <a href="#"><img src="assets/img/blog/blog-2.png" alt=""></a> 
                        </div>
                        <!-- End Blog Image -->

                        <div class="blog-content">
                            <a href="#" class="posted">1 خرداد 1399</a>

                            <h3><a href="#">شناسایی دستکاری لینک و هرزنامه با اعتبار دامنه</a></h3>

                            <a href="#" class="btn-inline">بیشتر بخوانید </a>
                        </div>

                    </div>
                    <!-- End Single Blog -->
                </div>
                <div class="col-lg-4 col-sm-6">
                    <!-- Single Blog -->
                    <div class="single-blog-item">
                        <!-- Blog Image -->
                        <div class="blog-image">
                           <a href="#"><img src="assets/img/blog/blog-3.png" alt=""></a> 
                        </div>
                        <!-- End Blog Image -->

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <a href="#" class="posted">7 فروردین 1399</a>

                            <h3><a href="#">مبانی ساختن لیست کلمات کلیدی بین مبتنی بر سئو سایت</a></h3>

                            <a href="#" class="btn-inline">بیشتر بخوانید </a>
                        </div>
                        <!-- End Blog Content -->
                    </div>
                    <!-- End Single Blog -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog -->

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- ======= jQuery Library ======= -->
    <script src="assets/js/jquery.min.js"></script>
    
    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- =======  Mobile Menu JS ======= -->
    <script src="assets/js/menu.min.js"></script>

    <!-- ======= Owl Carousel JS ======= -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>

    <!-- ======= Retina JS ======= -->
    <script src="assets/plugins/retinajs/retina.min.js"></script>

    <!-- ======= Google API ======= -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>

    <!-- ======= Main JS ======= -->
    <script src="assets/js/main.js"></script>
    
    <!-- ======= Custom JS ======= -->
    <script src="assets/js/custom.js"></script>
</body>
</html>