<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page Title -->
    <title>سئوبیز</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700%7CSource+Sans+Pro:400,600,700&display=swap">

    <!-- ======= Bootstrap CSS ======= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- ======= Font Awesome CSS ======= -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- ======= Owl Carousel CSS ======= -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- ======= Main Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- ======= Custom Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body style="text-align: right;direction: rtl">

    <!-- Preloader -->
    <div class='preloader w-100 h-100 position-fixed'>
        <span class="loader">
           بارگذاری…
        </span>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <header class="header">
        <div class="header-main">
            <div class="container-fluid"> 
                <div class="row align-items-center main-menu-wrapper justify-content-between">
                    <div class="col order-last order-sm-first">
                        <!-- Header Menu -->
                        <div class="main-menu d-flex align-items-center justify-content-end justify-content-sm-start">
                            <!-- Menu Trigger -->
                            <div class="menu-trigger">
                                <span></span>
                            </div>
                            <!-- End Menu Trigger -->

                            <!-- Main Menu -->
                            <div class="nav-wrapper">
                                <ul class="nav align-items-center">
                                    <li>
                                        <a href="index.html">صفحه اصلی</a>
                                    </li>
                                    <li>
                                        <a href="about.html">درباره ما</a>
                                    </li>
                            
                                    <li class="menu-item-has-children current-menu-parent">
                                        <a href="#">خدمات </a>
                                        <ul class="sub-menu">
                                            <li><a href="service.html">خدمات </a></li>
                                            <li class="current-menu-item"><a href="service-details.html">جزئیات خدمات </a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">صفحات </a>
                                        <ul class="sub-menu">
                                            <li><a href="coming-soon.html">به زودی </a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">وبلاگ </a>
                                        <ul class="sub-menu">
                                            <li><a href="blog.html">وبلاگ </a></li>
                                            <li><a href="blog-with-sidebar.html">وبلاگ با نوار کناری </a></li>
                                            <li><a href="blog-details.html">جزئیات وبلاگ </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">تماس بگیرید </a></li>
                                </ul>
                            </div>
                            <!-- End Main Menu -->
                        </div>
                        <!-- End Header Menu -->
                    </div>

                    <div class="col text-sm-center logo-holder">
                        <!-- Logo -->
                        <a href="index.html" class="logo">
                            <img src="assets/img/logo.png" data-rjs="2" alt="">
                        </a>
                        <!-- End Logo -->
                    </div>

                    <div class="col text-left d-none d-sm-block">
                        <!-- Social Icons -->
                        <ul class="social_icon_list">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <!-- End Social Icons -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header -->
    
    <!-- Page Title -->
    <section class="pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <h2>خدمات</h2>
                        <ul class="list-inline">
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li><a href="service.html">خدمات </a></li>
                            <li>جزئیات خدمات</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->

    <!-- Feature -->
    <section class="pb-140">
        <div class="container">
            <div class="row align-items-center pb-140">
                <div class="col-lg-6">
                    <div class="mb-50 mb-lg-0">
                        <img src="assets/img/feature/service-details-1.png" data-rjs="2" alt="">
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="section-title mb-3">
                        <h2>خاموش صفحه پیوند ساختمان<br>
                        خدمات سئو</h2>
                    </div>
                    <!-- End Section Title -->

                    <!-- Text -->
                    <p>موضوع کودکانی که او وجد می آورند. شما می توانید به عنوان مسابقه ساخته شده ترک کنید. انکار توجه قابل قبول اما منجر به مشکوک به جرم. با پذیرش یک فرض انجام می شود. باغ باید ماده تشکیل شود مرحله توافق کرده بود. همجنسگرایان کامل اکنون سقف را نگه داشته اند که چنین افرادی بعدی باشند مردم ما ژامبون بهانه را خیلی باریک می گذارند.</p>
                    <!-- End Text -->
                </div>
            </div>

            <div class="row pb-140">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title mb-3">
                        <h2>ویژگی های پیوند ساختمان ما</h2>
                    </div>
                    <!-- End Section Title -->

                    <!-- List Check -->
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-check mb-3 pb-1 mb-lg-0 pb-lg-0">
                                <li>روش بازاریابی محتوای اخلاقی.</li>
                                <li>ایجاد محتوای همیشه سبز برای جذب پیوندهای اقتدار.</li>
                                <li>لینک تضمینی ماهانه قابل تحویل بر اساس بودجه.</li>
                                <li>گزارش کاملاً شفاف ماهانه.</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-check">
                                <li> روش های امتحان شده ، آزمایش شده و مطمئن برای به دست آوردن نتیجه.</li>
                                <li>به مقدار کم یا به مقدار لازم استفاده کنید.</li>
                                <li>از یک کار تاسیس شده بهره مند شوید.</li>
                                <li>نیازی به استخدام نیروی اضافی نیست.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End List Check -->
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="mb-50 mb-lg-0">
                        <img src="assets/img/feature/service-details-2.png" data-rjs="2" alt="">
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <!-- Section Title -->
                    <div class="section-title mb-3">
                        <h2>تخصص پیوند ساختمان ما</h2>
                    </div>
                    <!-- End Section Title -->

                    <!-- Text -->
                    <p>احاطه در برابر حمله مطلوب هیچ آقای. لاین مانند نیمی از او هنوز شادی می دانست. کسل کننده باشید همانطور که بسیار شات دیده می شود. پیوست بنابراین من در حال برآورد پیش بینی است. آدرس خاموش چربی علاوه بر این به او حمله می کند. اقامت مناسب آقای بدون هیچ احساس تردیدی حضور داشت. بیش از حد برای گفتن متولد چنین فروخته پنج اما آویزان است. نامی که نام او را خیلی راحت نگه داشته است.</p>
                    <!-- End Text -->

                    <!-- List -->
                    <ul class="list-check">
                        <li>در حال حاضر بیش از 300 بازخورد مثبت دریافت کرده ایم. آن را در صفحه وب ما مشاهده کنید. همچنین می توانید کارهای دیگر ما را در تم جنگل بررسی کنید.</li>
                        <li>ما در تیمی کار می کنیم که اعضای تیم ما دارای تجزیه و تحلیل ماهرانه ، دانش سازمانی و ارتباطی هستند.</li>
                    </ul>
                    <!-- End List -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature -->

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- ======= jQuery Library ======= -->
    <script src="assets/js/jquery.min.js"></script>
    
    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- =======  Mobile Menu JS ======= -->
    <script src="assets/js/menu.min.js"></script>

    <!-- ======= Owl Carousel JS ======= -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>

    <!-- ======= Retina JS ======= -->
    <script src="assets/plugins/retinajs/retina.min.js"></script>

    <!-- ======= Google API ======= -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>

    <!-- ======= Main JS ======= -->
    <script src="assets/js/main.js"></script>
    
    <!-- ======= Custom JS ======= -->
    <script src="assets/js/custom.js"></script>
</body>
</html>