<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Page Title -->
    <title>سئوبیز</title>

    <!-- Meta Data -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700%7CSource+Sans+Pro:400,600,700&display=swap">

    <!-- ======= Bootstrap CSS ======= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- ======= Font Awesome CSS ======= -->
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">

    <!-- ======= Owl Carousel CSS ======= -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">

    <!-- ======= Main Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- ======= Custom Stylesheet ======= -->
    <link rel="stylesheet" href="assets/css/custom.css">

</head>

<body style="text-align: right;direction: rtl">

    <!-- Preloader -->
    <div class='preloader w-100 h-100 position-fixed'>
        <span class="loader">
           بارگذاری…
        </span>
    </div>
    <!-- End Preloader -->

    <!-- Header -->
    <%- include('partials/header') %>
    <!-- End Header -->
    
    <!-- Page Title -->
    <section class="pt-140 pb-140">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <h2>خدمات</h2>
                        <ul class="list-inline">
                            <li><a href="index.html">صفحه اصلی</a></li>
                            <li>خدمات</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Page Title -->

    <!-- Feature -->
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-12">
                            <!-- Section Title -->
                            <div class="section-title mb-3">
                                <h2>بهترین مشاوران سئو در جهان ، 
                                ما خدمات سئو با کیفیت را ارائه می دهیم</h2>
                            </div>
                            <!-- End Section Title -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-10">
                            <p>معقول در دشواری معقول. از آنجا که او رفت. اولویت خودشان به من همانطور که در تخمین جزئی بودن کاملاً در نظر گرفته شده است. در میدلتون کشف شده پذیرش پروژه تقریباً همین است. ستون بیقراری به طرز قابل توجهی در یک پیوست است. احاطه شده است از رونق بیان باعث ایجاد اختیار من می شود. اما حقیقت داشتن می تواند به چین برود. طرح پت گاه به گاه به طور غیر منتظره غیر قابل شباهت است. احساسات پیش بینی همراهان خاص علاقه مند اما لذت بخش است. گوش دادن به روزنامه نتیجه گیری کرد که تمایلی به صراحت داشتن ندارد. من در حال افزایش در مقابل.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <!-- Feature Image -->
                    <div class="mt-50 mt-lg-0">
                        <img src="assets/img/feature/service-1.png" data-rjs="2" alt="">
                    </div>
                    <!-- End Feature Image -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Feature -->

    <!-- Services -->
    <section class="pt-140 pb-110">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>با خدمات حرفه ای سئو ، بازدید وب سایت بیشتری داشته  <br>
                        و مشتریان جدیدی به دست آورید</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-1.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">سازماندهی سئو</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. اکنون بزرگترین توسعه دهندگان املاک و مستغلات در تلویزیون حضور دارند.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>

                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-2.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">پیوند ساختمان</a></h3>
                            <p>از این رو ، از همان چیزهای بزرگ ، پیراهن گرمکن در استخر ، توسعه دهندگان دوره کارشناسی ، اما متولد خواهد شد.،. تا شناسه.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>

                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-3.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">تجزیه و تحلیل رقبا</a></h3>
                            <p>فردا مسابقه فوتبال عطر و بویی مانند املاک و مستغلات ، بازیکنان توسعه دهندگان خدمه وام دهید. هیچ لرزان توسعه دهنده شیر فقط نمی نوشد.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>

                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-4.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">سازماندهی سئو</a></h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ  اکنون بزرگترین توسعه دهندگان املاک و مستغلات در تلویزیون حضور دارند.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>

                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-5.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">رتبه بندی برتر</a></h3>
                            <p>از این رو ، از همان چیزهای بزرگ ، پیراهن گرمکن در استخر ، اما توسعه دهندگان در دوره کارشناسی  ،. تا شناسه.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>

                <div class="col-lg-4">
                    <!-- Single Service -->
                    <div class="single-service">
                        <!-- Icon -->
                        <div class="icon">
                            <img src="assets/img/icon/service-6.svg" class="svg" alt="">
                        </div>
                        <!-- End Icon -->

                        <!-- Content -->
                        <div class="content">
                            <h3><a href="service-details.html">پیوند سازمان</a></h3>
                            <p>فردا مسابقه فوتبال عطر و بویی مانند املاک و مستغلات ، بازیکنان توسعه دهندگان خدمه وام دهید. هیچ لرزان توسعه دهنده شیر فقط نمی نوشد.</p>
                        </div>
                        <!-- End Content -->
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Services -->

    <!-- Pricing -->
    <section class="pt-140 pb-110 light-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Title -->
                    <div class="section-title text-center">
                        <h2>برنامه مقرون به صرفه خود را انتخاب کنید</h2>
                    </div>
                    <!-- End Section Title -->
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <!-- Single Pricing Plan -->
                    <div class="single-pricing-table text-center">
                        <div class="pt-header">
                            <div class="icon">
                                <img src="assets/img/icon/basic.png" alt="">
                            </div>
                            <h2 class="title">اصلی</h2>
                        </div>
                        <div class="pt-body">
                            <ul class="list-unstyled">
                                <li>بهینه سازی جستجوی محلی</li>
                                <li>120000 صفحه خزیده</li>
                                <li>راه اندازی تجزیه و تحلیل گوگل</li>
                                <li>30 تجزیه و تحلیل کمپین</li>
                                <li>تحلیل محتوا</li>
                            </ul>
                        </div>

                        <div class="pt-footer">
                            <h2 class="price">120.000 تومان</h2>
                            <a href="#" class="btn">اکنون بخرید </a>
                        </div>
                    </div>
                    <!-- End Single Pricing Plan -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Pricing Plan -->
                    <div class="single-pricing-table text-center active">
                        <div class="pt-header">
                            <div class="icon">
                                <img src="assets/img/icon/advanced.png" alt="">
                            </div>
                            <h2 class="title">پیشرفته</h2>
                        </div>
                        <div class="pt-body">
                            <ul class="list-unstyled">
                                <li>بهینه سازی جستجوی محلی</li>
                                <li>120000 صفحه خزیده</li>
                                <li>راه اندازی تجزیه و تحلیل گوگل</li>
                                <li>30 تجزیه و تحلیل کمپین</li>
                                <li>تحلیل محتوا</li>
                            </ul>
                        </div>

                        <div class="pt-footer">
                            <h2 class="price">200.000 تومان</h2>
                            <a href="#" class="btn">اکنون بخرید </a>
                        </div>
                    </div>
                    <!-- End Single Pricing Plan -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!-- Single Pricing Plan -->
                    <div class="single-pricing-table text-center">
                        <div class="pt-header">
                            <div class="icon">
                                <img src="assets/img/icon/pro.png" alt="">
                            </div>
                            <h2 class="title">بهینه</h2>
                        </div>
                        <div class="pt-body">
                            <ul class="list-unstyled">
                                <li>بهینه سازی جستجوی محلی</li>
                                <li>120000 صفحه خزیده</li>
                                <li>راه اندازی تجزیه و تحلیل گوگل</li>
                                <li>30 تجزیه و تحلیل کمپین</li>
                                <li>تحلیل محتوا</li>
                            </ul>
                        </div>

                        <div class="pt-footer">
                            <h2 class="price">300.000 تومان</h2>
                            <a href="#" class="btn">اکنون بخرید </a>
                        </div>
                    </div>
                    <!-- End Single Pricing Plan -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Pricing -->

    <!-- Footer -->
    <%- include('partials/footer') %>
    <!-- End Footer -->

    <!-- Back to Top Button -->
    <a href="#" class="back-to-top">
        <i class="fa fa-angle-up"></i>
    </a>

    <!-- ======= jQuery Library ======= -->
    <script src="assets/js/jquery.min.js"></script>
    
    <!-- ======= Bootstrap Bundle JS ======= -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- =======  Mobile Menu JS ======= -->
    <script src="assets/js/menu.min.js"></script>

    <!-- ======= Owl Carousel JS ======= -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js"></script>

    <!-- ======= Retina JS ======= -->
    <script src="assets/plugins/retinajs/retina.min.js"></script>

    <!-- ======= Google API ======= -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjkssBA3hMeFtClgslO2clWFR6bRraGz0"></script>

    <!-- ======= Main JS ======= -->
    <script src="assets/js/main.js"></script>
    
    <!-- ======= Custom JS ======= -->
    <script src="assets/js/custom.js"></script>
</body>
</html>